@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.carousel-inner img {
  height: 400px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.carousel-item:hover img {
  transform: scale(1.02);
}